@import "reset.css";

@keyframes profileOn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes navbarOn{
    from{
        transform: translateY(60px);
    }
    to{
        transform: none;
    }
}

*{
    box-sizing: border-box;
}


body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 768px;
}

.profile img{
    animation: profileOn 3s ease-in-out forwards;
}

.profile > img{
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgba(0,0,0,0.2);
    font-size: 70px;
    position: fixed;
    font-weight: bold;
    width: 100vw;
    bottom: 0;
    letter-spacing: 15px;
    word-spacing: 25px;
    color: black;
    transform: translateY(100px);
    animation: navbarOn 1s ease-in-out forwards;
}

.alba{
    margin: 40px 15px;
}
.alba-title{
    width: 768px;
    padding: 20px;
    border-bottom : 1px solid black ;
    margin-top: 30px;
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 15px;
}
.alba-list__items{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    margin-left: 15px;
}
.alba-list__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.alba-list__item span{
    margin-top: 15px;
    font-size: 20px;
}

.alba-list__item img{
    width: 300px;
    height: 400px;
}

.alba-list__item > span:nth-child(2){
    font-weight: bold;
    font-size: 25px;
}



.memo{
    margin: 0px 40px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 352px;
}

.p-holder{
    padding : 50px 5px;
    border-top: 3px solid rgba(0,0,0,0.2);
    border-bottom: 3px solid rgba(0,0,0,0.2);
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p1{
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
}
#wook_cat{
    width: 450px;
    height: 450px;
}
.p2{
    font-size: 18px;
    text-align: center;
}
.memo img{
    width: 600px;
    margin-left: 40px;
}

.ending{
    width: 768px;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 35px;
    margin-top: 65px;
    margin-bottom: 75px;
}

.ending h1{
    font-size: 50px;
    font-weight: 600;
    width: 750px;
    text-align: center;
    letter-spacing: 15px;
    word-spacing: 25px;
    margin-bottom: 320px;
    padding: 15px;
}

.ending h3{
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 15px;
    word-spacing: 25px;
}

.achievement{
    display: flex;
    margin: 40px;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    
}
.achievement img{
    width: 800px;
    height: 900px;
}
.achievement-list{
    background-color: tomato;
    height: 900px;
    width: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievement-list h2{
    font-size: 55px;
    padding: 35px;
}
.achievement-list ul{
    margin-bottom: 10px;
    font-size: 20px;
}

.achievement-list__item{
    text-align: center;
    width: 350px;
    line-height: 30px;
}

.important{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    height: 100px;

}

.important div{
    margin-bottom: 5px;
}